.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 10px;

}

.Container select {
    color: #FFD41F;
    background-color: #5B1D99;
    font-size: 15px;
    width: 140px;
    height: 30px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 1px solid #FFD41F;
    border-radius: 10px;
}

.ContainerSearch {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 320px;
    height: 35px;
    border: 1px solid #FFFFFF;
    background: rgb(91, 29, 153);
    background: radial-gradient(circle, rgba(91, 29, 153, 0.7232142857142857) 0%, rgba(255, 212, 31, 0.7792366946778712) 100%);

    border-radius: 10px;
    justify-content: center;
    padding: 20px 5px 5px 5px;
}

.ContainerSearch h1 {
    font-size: medium;
    color: #FFFFFF;
    position: absolute;
    font-weight: 200;
    margin-top: -30px;
    background: rgb(91, 29, 153);
    background: radial-gradient(circle, rgba(91, 29, 153, 0.7232142857142857) 0%, rgba(255, 212, 31, 0.7792366946778712) 100%);

    border-radius: 5px;
    width: 200px;
    border: #FFFFFF 1px solid;
    text-shadow: 1px 1px 1px #000000;
}

.ContainerSearch input {
    color: #FFD41F;
    background-color: #5B1D99;
    font-size: 15px;
    width: 150px;
    height: 25px;
    text-align: center;
    border: 1px solid #FFD41F;
    margin: 0px;
    border-radius: 10px;
}